.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divBackground{
    background-color: #c1c1c1;
    margin-bottom: 10px;
}
.texto{
    color: blue;
    padding: 5px 0px 5px 10px;
    margin: 0px;
}
.texto:hover{
    color:black !important;
    cursor: pointer;
}
.imagemButtom{
    margin-bottom: -4px;
    padding: 0px;
    border: none;
}

